*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    /* scroll-behavior: unset; */
}

.option-container{
    position: absolute;
    display: block;
    top: 1rem;
    left: 2rem;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: rgb(214, 224, 221);

}

.toolbox-container{
    display: flex;
    position: absolute;
    align-items: center;
    height: 2.5rem;
    width: 22rem;
    background-color: rgb(214, 224, 221);
    justify-content: space-around;
    top: 1.0rem;
    left: calc( ( 100vw - 20rem ) / 2);
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.scale-tools{
    animation-name: scale-toolbox;
    animation-duration: 1s;
}

/* .shrink-tools{
    animation-name: shrink-toolbox;
    animation-duration: 2s;
} */


@keyframes scale-toolbox {
    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1);
    }
    
}

/* @keyframes shrink-toolbox {
    0%{
        transform: scale(2);
    }
    100%{
        transform: scale(0.1);
    }
    
} */
.toolbox-container > *{
    height: 2rem;
    padding: 0.3rem;
    display: block;
}

.pencil-tool-container{

    background-color: red;
    position: absolute;
    display: flex;
    display: none;

    flex-direction: column;
    top:3.6rem;
    left:calc( ( 100vw - 19.8rem ) / 2);
    background-color: rgb(214, 224, 221);
    width: 9rem;
    height: 3.0rem;
    border-radius: 9px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
 .pencil-width-container {
    display: flex;
    position: relative;
    top: 0.1rem;
    height: 1.3rem;
    justify-content: center;
    align-items: center;
}

.pencil-width-container input{
   width: 90%;
}

.pencil-color-container{
    display: flex;
    height: 1.4rem;
    justify-content: center;
    align-items: center;
    gap:1rem;

}

.pencil-color{
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
}
.black{
    background-color: black;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}

.eraser-tool-container{
    position: absolute;
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    top:3.6rem;
    left:calc( ( 100vw - 14.5rem ) / 2);
    background-color: rgb(214, 224, 221);
    width: 9rem;
    height: 2.4rem;
    border-radius: 9px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.erasor-width-container {
    display: flex;
    position: relative;
    background-color: rgb(255, 0, 85);
    top: 0.1rem;
    height: 2.3rem;
    justify-content: center;
    align-items: center;
}

.close-tool{
    display: none;
}
.open-tool{
    display: flex;
}

.sticky-note-container{
    height: 24rem;
    width: 18rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    top: 15rem;
    left: 15rem;
}
.boxshadow-none{
    box-shadow: none;
}

.sticky-header-wrapper{
    height: 1.6rem;
    background-color: #ecf0f1;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.note-action-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.note-action-container > * {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.5rem;
    border-radius: 80%;
}

.minimize{
    background-color: green;
}

.remove{
    background-color: red;
}

.note-area-container{
    height: calc(100% - 1.6rem);
    /* background-color:red; */
}

textarea{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
}

 
.dragspace{
    width: 80%;
}

img{
    height: 100%;
    width: 100%;
}